<?xml version="1.0"?>
<config>
	<modules>
		<Maxima_BankSlip>
			<version>0.0.3</version>
		</Maxima_BankSlip>
	</modules>
	
	<global>
		<helpers>
			<Maxima_BankSlip>
				<class>Maxima_BankSlip_Helper</class>
			</Maxima_BankSlip>
		</helpers>
		<blocks>
			<Maxima_BankSlip>
				<class>Maxima_BankSlip_Block</class>
			</Maxima_BankSlip>
		</blocks>
		<models>
			<Maxima_BankSlip>
				<class>Maxima_BankSlip_Model</class>
				<resourceModel>Maxima_BankSlip_mysql4</resourceModel>
			</Maxima_BankSlip>
			<Maxima_BankSlip_mysql4>
				<class>Maxima_BankSlip_Model_Mysql4</class>
				<entities>
					<slip>
						<table>maxima_bankslip_slip</table>
					</slip>
				</entities>
			</Maxima_BankSlip_mysql4>
		</models>
		<resources>
			<Maxima_BankSlip_setup>
				<setup>
					<module>Maxima_BankSlip</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</Maxima_BankSlip_setup>
			<Maxima_BankSlip_write>
				<connection>
					<use>core_write</use>
				</connection>
			</Maxima_BankSlip_write>
			<Maxima_BankSlip_read>
				<connection>
					<use>core_read</use>
				</connection>
			</Maxima_BankSlip_read>
		</resources>
	</global>
	
	<adminhtml>
		<layout>
			<updates>
				<Maxima_BankSlip>
					<file>maxima_bankslip.xml</file>
				</Maxima_BankSlip>
			</updates>
		</layout>
	</adminhtml>
	
	<admin>
		<routers>
			<Maxima_Bankslip>
				<use>admin</use>
				<args>
					<module>Maxima_BankSlip</module>
					<frontName>bankslip</frontName>
				</args>
			</Maxima_Bankslip>
		</routers>
	</admin>
	
	<frontend>
		<routers>
			<Maxima_BankSlip>
				<use>standard</use>
				<args>
					<module>Maxima_BankSlip</module>
					<frontName>bankslip</frontName>
				</args>
			</Maxima_BankSlip>
		</routers>
		<layout>
			<updates>
				<Maxima_BankSlip>
					<file>maxima_bankslip.xml</file>
				</Maxima_BankSlip>
			</updates>
		</layout>
	</frontend>
	
	<default>
		<payment>
			<Maxima_BankSlip>
				<model>Maxima_BankSlip_Model_Method_BankSlip</model>
				<active>0</active>
				<title>Bank Payment Slip</title>
				<payment_term>5</payment_term>
				<slip_cost>2.95</slip_cost>
			</Maxima_BankSlip>
		</payment>
	</default>
</config>